/* HEADER */
body {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
}

.tab {
  text-transform: uppercase;
  font-family:monospace;
  font-weight:bold;
  font-size: 13px;
}

#header {
  position: fixed;
  width: 2000px;
  height: auto;
  z-index: -1;
  opacity: 0.2;
}

#logo {
  padding:20px;
}

#logo img {
  width:100%;
}

/* BODY */
.main-content {
  padding-top: 50px;
}

.content-container {
  background: rgba(255,255,255,1);
  margin-top: 20px;
  padding: 20px;
}

.padding {
  padding-top: 20px;
  padding-bottom: 20px;
}
/* NAVIGATION */

.navbar-header-custom {
  position: fixed;
  width: 100%;
  height: 0px;
  z-index: 1000000000000;
}

.light-border {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.navbar-custom {

}

#navbar-brand-img {
  height: 100%;
}

/* FONTS */

.headline, .headline-big {
  color: #2f2f2f;
  font-weight: bold;
  font-size: 20px;
}

.headline-big {
  font-size: 30px;
  font-stretch: expanded;
}

.text-custom, .text-custom-big, .impr-text {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
}

.text-custom-big {
  font-size: 16px;
}

.impr-text{
  color: white;
  font-size: 16px;
  text-align: center;
}

.truncate {
  white-space:normal;
  overflow:hidden;
  text-overflow: ellipsis;
  transition: max-height 0.5s;
}

.truncate-inactive {
  transition: max-height 0.5s;
}

/* POSTS */

.post {
  border-top: 1px solid black;
  transition: background-color 0.2s;
  padding:15px;
}

.post .date {
  text-align: right;
  margin-top: 10px;
}

.post-button {
  width: 100%;
  background: rgba(0, 0, 0, 0)
}

/* CAROUSEL */
#carousel-sponsors .item {
  border-radius: 10px;
  padding: 40px;
}

#carousel-sponsors {
  color: black;
}

#carousel-sponsors .carousel-control {
  color:black;
}

#carousel-sponsors .image {
  height: 100px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.carousel-post {
  margin-top: 15px;
  margin-bottom: 15px;
}

.carousel-post .image {
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* SPONSOR */
#sponsors {
  text-align: center;
}

.sponsor > p {
  height: 0px;
  color: white;
  white-space:normal;
  overflow:hidden;
  text-overflow: ellipsis;
}

.sponsor > img {
  width: 100%;
  padding: 5px;
}

.sponsor, .sponsor:hover {
  height: auto;
  width: 110px;
  max-width: 90%;
  margin: 2px;
  padding: 2px;
  border: 1px solid rgba(255,255,255,0); 
  display: inline-block;
  border-radius: 3px;

  transition: border-color 0.5s;
}

.sponsor:hover {
  border-color: rgba(150, 150, 150, 0.5);
  transition: border-color 0.5s;
}

.sponsor-carousel-img {
  height: 200px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

/* NEWSLETTER */

.newsletter-button {
  width: 100%;
  margin-top: 5px;
}

.newsletter {
  background-color: #bbbbbb;
  border-radius: 5px;
  padding: 20px;
}

/* FOOTER */

#impressum {
  margin-top: 20px;
  height: 40px;
  background-color:black;
}